<!DOCTYPE html>
<html>
<head>
    <title>CRUD</title>
    <link rel="stylesheet" href="../static/styles3.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<header>
    <nav>
        <ul class="menu">
            <li><a href="/">Ir a todos los usuarios</a></li>
            <li><a href="/crud">Inquilinos</a></li>
            <li><a href="/crud_admin">Administradores</a></li>
            <li><a href="/propiedades">Propiedades</a></li>
        </ul>
    </nav>
</header> 
    <div class="container mt-5">
        <h1 class="text-center">TENANT</h1>

        <div class="mt-5">
            <h2>Buscar nombre</h2>
            <form method="POST" action="/crud" class="form-inline">
                <input type="hidden" name="action" value="search">
                <div class="form-group">
                    <label for="id" class="mr-2">ID:</label>
                    <input type="number" id="id" name="id" class="form-control mr-2" required>
                </div>
                <button type="submit" class="btn btn-primary">Buscar</button>
            </form>
        </div>

        <div class="mt-5">
            <h2>Actualizar nombre</h2>
            <form method="POST" action="/crud" class="form-inline">
                <input type="hidden" name="action" value="update">
                <div class="form-group">
                    <label for="id" class="mr-2">ID:</label>
                    <input type="number" id="id" name="id" class="form-control mr-2" required>
                </div>
                <div class="form-group">
                    <label for="new_name" class="mr-2">Nuevo Nombre:</label>
                    <input type="text" id="new_name" name="new_name" class="form-control mr-2" required>
                </div>
                <button type="submit" class="btn btn-primary">Actualizar</button>
            </form>
        </div>

        <div class="mt-5">
            <h2>Eliminar nombre</h2>
            <form method="POST" action="/crud" class="form-inline">
                <input type="hidden" name="action" value="delete">
                <div class="form-group">
                    <label for="id" class="mr-2">ID:</label>
                    <input type="number" id="id" name="id" class="form-control mr-2" required>
                </div>
                <button type="submit" class="btn btn-danger">Eliminar</button>
            </form>
        </div>

        <div class="mt-5">
            <h2>Agregar nombre</h2>
            <form method="POST" action="/crud" class="form-inline">
                <input type="hidden" name="action" value="add">
                <div class="form-group">
                    <label for="id" class="mr-2">ID:</label>
                    <input type="number" id="id" name="id" class="form-control mr-2" required>
                </div>
                <div class="form-group">
                    <label for="name" class="mr-2">Nombre:</label>
                    <input type="text" id="name" name="name" class="form-control mr-2" required>
                </div>
                <button type="submit" class="btn btn-success">Agregar</button>
            </form>
        </div>
    </div>
</body>
</html>
