<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="../static/styles.css">
  <title>Places</title>
</head>
<body>
<h1>List of Places</h1>
<ul>
{% for place in places %}
<li>{{place.id}} - {{ place.name }} - {{ place.diponibilidad }}</li>
{% endfor %}
</ul>

<title>cartas</title>

<div id="cuadrado">
<div class="cuadrado" id="cuadrado1"> departamento1 </div>

<script>

var elemento = document.getElementById("cuadrado1");

// Obtener el valor de disponibilidad del almacenamiento local
var disponibilidadGuardada = localStorage.getItem('disponibilidad');

// Establecer el color inicial basado en el valor guardado
if (disponibilidadGuardada === 'amarillo') {
  elemento.style.backgroundColor = 'yellow';
} else if (disponibilidadGuardada === 'verde') {
  elemento.style.backgroundColor = 'green';
} else {
  elemento.style.backgroundColor = 'red';
}

elemento.onclick = function() {
  if (elemento.style.backgroundColor === 'red') {
    elemento.style.backgroundColor = 'yellow';
    updateDisponibilidad('amarillo');
    // Guardar el valor de disponibilidad en el almacenamiento local
    localStorage.setItem('disponibilidad', 'amarillo');
  } else if (elemento.style.backgroundColor === 'yellow') {
    elemento.style.backgroundColor = 'green';
    updateDisponibilidad('verde');
    // Guardar el valor de disponibilidad en el almacenamiento local
    localStorage.setItem('disponibilidad', 'verde');
  } else {
    elemento.style.backgroundColor = 'red';
    updateDisponibilidad('rojo');
    // Guardar el valor de disponibilidad en el almacenamiento local
    localStorage.setItem('disponibilidad', 'rojo');
  }
};

function updateDisponibilidad(disponibilidad) {
  var xhr = new XMLHttpRequest();
  xhr.open('POST', '/update_disponibilidad', true);
  xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
  xhr.onreadystatechange = function() {
    if (xhr.readyState === 4 && xhr.status === 200) {
      // Actualizar la columna de disponibilidad en la página web
      var disponibilidadColumn = document.getElementById('disponibilidad');
      disponibilidadColumn.innerHTML = disponibilidad;

      // Guardar el valor de disponibilidad en el almacenamiento local
      localStorage.setItem('disponibilidad', disponibilidad);
    }
  };
  xhr.send('id=110&disponibilidad=' + disponibilidad);
}


/*
var elemento = document.getElementById("cuadrado1");

elemento.onclick = function() {
  if (elemento.style.backgroundColor === "red") {
    elemento.style.backgroundColor = "yellow";
    updateDisponibilidad("amarillo");
  } else if (elemento.style.backgroundColor === "yellow") {
    elemento.style.backgroundColor = "green";
    updateDisponibilidad("verde");
  } else {
    elemento.style.backgroundColor = "red";
    updateDisponibilidad("rojo");
  }
};

function updateDisponibilidad(disponibilidad) {
  var xhr = new XMLHttpRequest();
  xhr.open('POST', '/update_disponibilidad', true);
  xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
  xhr.onreadystatechange = function() {
    if (xhr.readyState === 4 && xhr.status === 200) {
      // Actualizar la columna de disponibilidad en la página web
      var disponibilidadColumn = document.getElementById("disponibilidad");
      disponibilidadColumn.innerHTML = disponibilidad;
    }
  };
  xhr.send("id=110&disponibilidad=" + disponibilidad);
}

*/
</script>
</body>
</html>
