/* Estilos para el encabezado */
header {
    background-color: #f8f9fa;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 10px;
}

/* Estilos para el contenido principal */
.container {
    margin-top: 20px;
}

h1,
h2 {
    margin-top: 20px;
}

/* Estilos para los formularios */
form {
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 10px;
}

label {
    display: block;
    font-weight: bold;
}

input[type="text"],
input[type="number"] {
    width: 100%;
    padding: 5px;
}

/* Estilos para los botones */
button {
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

.btn-primary {
    background-color: #007bff;
}

.btn-danger {
    background-color: #dc3545;
}

